# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# Mac files
.DS_Store

# Node Modules
package-lock.json
package.json
node_modules

# Data Files
.data/