@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Parkinsans:wght@300..800&family=Permanent+Marker&display=swap');

nav ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-around; 
    background-color: #1a4eb6;
}

header {
    background-color: #1a4eb6;
}

header a {
    display: block;
    color: aliceblue;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    justify-content: space-around; 
}

header a:hover {
    background-color: #1a4eb6;
}
a:hover {
    background-color: #b4bcd2;
    color:#4b6bba;
    border-radius: 10px;
}

body {
    font-family: "Parkinsans", sans-serif;
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
}

footer {    /* footer was copied from the header in new.css online to extend the borders to the edges of the screen */
	background: #1a4eb6;
	color: white;
	padding: 2rem 1.5rem;
	margin: 0 calc(50% - 50vw) 0;
	padding-left:  calc(50vw - 50%);
	padding-right: calc(50vw - 50%);
}

footer a {
    color: black;
}

.image_text {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border: 4px solid black;
}

img {
    transition: box-shadow 0.3s ease-out;
    padding: 10px;
    outline: none;
}

img:hover {
    box-shadow:
        0 0 30px rgba(233, 245, 255, 0.4),
        0 0 60px rgba(41, 106, 236, 0.3),
        0 0 1000px rgba(34, 96, 219, 0.2);
}

p {
    line-height: 1.7;
    font-size: 20px;
}

textarea {
    resize: none;
}