{% extends "layout.html" %}

{% block title %}

<title>Find your password</title>

{% endblock %}

{% block body %}
<main>
    <form action="{{ url_for('password_result') }}" method="post">
        <section class="name"> 
            <h2>Your name</h2>
                <p>
                    <label for="q1">Answer:</label>
                    <input type="text" id="name" name="name" required>
                
                </p>
        </section>
        <section class="nickname">
            <h2>Your username</h2>
                <p>
                    <label for="nickname">Answer:</label>
                    <input type="text" id="nickname" name="nickname" required>
                </p>
        </section>
            <button type="submit">Sign Up</button>
    </form>
</main>
{% endblock %}